<ul class="nav nav-tabs" role="tablist">
    <li><a href="#/">Home</a></li>
    <li><a href="#/help">Help</a></li>
    <li><a href="#/users">Add/Remove Users</a></li>
    <li class="active"><a href="#/incidents">Edit/Remove Incidents</a></li>
    <li><a href="#/editContact">Edit Contact Information</a></li>
    <li><a href="../user/">User Page</a></li>
</ul>
<alert ng-repeat="alert in dangerAlerts" type="danger">{{alert.msg}}</alert>
<alert ng-repeat="alert in goodAlerts" type="success" close="closeAlert($index)">{{alert.msg}}</alert>
<h2>Change Incidents</h2>

<div class="row">
    <div class="col-xs-6">
        <md-select class="location" placeholder="Search by Location" ng-model="loc">
            <md-option ng-repeat="location in locations" value="{{location.id}}">{{location.name}}</md-option>
        </md-select>
    </div>
    <div class="col-xs-6">
        <md-select class="incident" placeholder="Search by Incident" ng-model="inc">
            <md-option ng-repeat="incident in incidents" value="{{incident.id}}">{{incident.type}}</md-option>
        </md-select>
    </div>
</div>
<div class="row" layout-align="center" style="display:inline-block">
    <md-input-container class="date_after" style="float:left;">
        <label>Date Before/On Incident</label>
        <input type="date" ng-model="date_after">
    </md-input-container>
    <md-input-container class="date_before" style="float:left;">
        <label>Date After Incident</label>
        <input type="date" ng-model="date_before">
    </md-input-container>
</div>

<div class="row">
    <md-input-container style="display:inline-block">
        <label>Comment Contains</label>
        <input ng-model="commentContains">
    </md-input-container>
</div>

<div class="row">
    <md-button class="md-raised md-primary search" ng-click="searchIncidents($event)" ng-disabled="loadingIncidents">Search</md-button>
    <md-button class="md-accent md-raised md-hue-1 search" ng-click="clearFields($event)">Clear Fields</md-button>
</div>

<div class="row">
    <md-progress-circular md-mode="indeterminate" ng-show="loadingIncidents"></md-progress-circular>
</div>

<div class="row">
    <h3>{{results_num}}</h3>
    <div class="resultHighlight" ng-repeat="result in results" ng-click="changeIncident($event)" data-id="{{result.num}}">
        <h3><u>Incident Number: {{result.num}}</u></h3>
        <p><b>Creation Time:</b> {{result.time}} - <b>Creator:</b> {{result.creator}}</p>
        <p><b>Location:</b> {{result.location}} - <b>Incident:</b> {{result.type}}</p>
        <p><b>Comment:</b> {{result.comment}}</p>
    </div>
</div>