<ul class="nav nav-tabs" role="tablist">
    <li><a href="#/">Home</a></li>
    <li><a href="#/users">Change Users</a></li>
    <li><a href="#/incidents">Change Incidents</a></li>
    <li class="active"><a href="#/help">Help</a></li>
    <li><a href="../user/">User Page</a></li>
</ul>
<h2>Help</h2>
This is the Edmonds School District 6898 Administrator Page.<br />
This page gives you administrator controls over the 6898 incident reporting page.<br />
Under Change Users, you can add a new site user by filling out the Add New User form with their login username and application role.<br />
You can also Edit an existing user's username or role, and delete a user.<br />
Under Change Incidents, you can change a previously recorded incident by searching for and then clicking on it.<br />
Once the information is shown, you can click on edit to edit the information or delete to delete it.<br />
Note that the incident number, date created, and creator information cannot be edited.<br />
If you have any comments, questions, or concerns, feel free to contact.<br />
Thank you.<br />
<br />
Written by Jonathan Phippen and Connor Blomquist, on behalf of Edmonds School District, Summmer 2015