<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#/">Home</a></li>
    <li><a href="#/help">Help</a></li>
    <li><a href="#/users">Add/Remove Users</a></li>
    <li><a href="#/incidents">Edit/Remove Incidents</a></li>
    <li><a href="#/editContact">Edit Contact Information</a></li>
    <li><a href="../user/">User Page</a></li>
</ul>
<h2>Home</h2>
Welcome to the 6898 Emergency Reporting Application Administrator page<br />
Here you may add and remove application users and other administrators,<br />
Search, edit, and remove reported incidents, and edit contact information of people being notified of incidents.<br />
Help and contact info can be found in the help tab. Thank You.