<alert ng-repeat="alert in dangerAlerts" type="danger">{{alert.msg}}</alert>
<alert ng-repeat="alert in warningAlerts" type="warning" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row">
    <h1>Edit User</h1>
</div>
<div class="row">
    <p>
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <label for="user">Username:</label>
            <input type="text" class="form-control" id="user" ng-model="user" />
        </div>
        <div class="col-xs-2"></div>
    </p>
</div>
<div class="row">
    <p>
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <label for="role">Role:</label>
            <select class="form-control" id="role" ng-model="role">
                <option value="User">User</option>
                <option value="Administrator">Administrator</option>
            </select>
        </div>
        <div class="col-xs-2"></div>
    </p>
</div>
<div class="row">
    <p>
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <md-button class="md-primary md-raised" ng-click="save()">Save</md-button>
        </div>
        <div class="col-xs-4">
            <md-button class="md-raised" ng-click="close()">Close</md-button>
        </div>
        <div class="col-xs-2"></div>
    </p>
</div>