<alert ng-repeat="alert in dangerAlerts" type="danger">{{alert.msg}}</alert>
<alert ng-repeat="alert in warningAlerts" type="warning" close="closeAlert($index)">{{alert.msg}}</alert>
<h2>Incident Number: {{num}}</h2>
<p><b>Creation Time:</b> {{time}} - <b>Creator:</b> {{creator}}</p>
<select class="location" placeholder="Choose a location" ng-model="loc">
    <option ng-repeat="location in locations" value="{{location.id}}" ng-selected="{{location.id == loc}}">{{location.name}}</option>
</select>

<select class="incident" placeholder="Choose an incident" ng-model="inc">
    <option ng-repeat="incident in incidents" value="{{incident.id}}" ng-selected="{{incident.id == inc}}">{{incident.type}}</option>
</select>

<p><b>Comments: </b></p>
<textarea cols="100" ng-model="commentEdit" style="padding-bottom:20px;" ></textarea><br />
<md-button class="md-primary md-raised" ng-click="save()">Save</md-button>
<md-button class="md-raised" ng-click="close()">Close</md-button>