body {
    text-align: center;
}

.result {
    border-top: black solid 1px;
}

.resultHighlight {
    border-top: black solid 1px;
}

.resultHighlight:hover {
    background-color: lightblue;
    cursor: pointer;
}

p {
    margin-top: 2em;
}

.form-control {
    width: 14em;
}

md-select {
    width: 300px;
    display: block;
    margin: auto;
}

.comments {
    width: 500px;
    margin: auto;
}

#chooseInc {
    width: 650px;
}