.incident, .location, .date_after, .date_before, .search, .commentContains{
    width:25em;
}
body {
    text-align:center;
}
.comments {
    /*border: 1px solid black;*/
}

.result {
    border-top: black solid 1px;
}

.result:hover {
    background-color: lightblue;
}

.resultNoHighlight {
    border-top: black solid 1px;
}

p {
    margin-top: 2em;
}
.form-control {
    width: 14em;
}
.row {
    text-align: center;
}