.incident, .location, .date_after, .date_before, .search, .commentContains{
    width: 25em;
}

body {
    text-align: center;
}

.result {
    border-top: black solid 1px;
}

.resultHighlight {
    border-top: black solid 1px;
}

.resultHighlight:hover {
    background-color: lightblue;
}

p {
    margin-top: 2em;
}

.form-control {
    width: 14em;
}