<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/">New Incident</a></li>
    <li role="presentation"><a href="#/search/">Search Incidents</a></li>
    <li role="presentation" class="active"><a href="#/help/">Help</a></li>
</ul>
<h2>Help</h2>
This is the Edmonds School District's 6898 Emergency Reporting Application.<br />
This will record submitted school-related incidents and automatically contact the proper district employees.<br />
To report an incident, just fill out the form under the "New Incident" tab (you may leave comments blank), and submit it.<br />
This will record the information in our database and notify the required personnel.<br />
You may also search through the incident records under the "Search Incidents" tab, using a variety of search parameters.<br />
You can leave certain parameters blank to not use them, or leave them all blank to pull all records.<br />
If you have any comments, questions, or concerns, feel free to contact<br />
Thank you.<br />
<br />
Written by Jonathan Phippen and Connor Blomquist, on behalf of Edmonds School District, Summer 2015