<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/">New Incident</a></li>
    <li role="presentation"><a href="#/update/">Update Incidents</a></li>
    <li role="presentation"><a href="#/search/">Search Incidents</a></li>
    <li role="presentation"><a href="#/help/">Help</a></li>
</ul>
<alert ng-repeat="alert in dangerAlerts" type="danger">{{alert.msg}}</alert>
<alert ng-repeat="alert in warningAlerts" type="warning" close="closeBadAlert($index)">{{alert.msg}}</alert>
<alert ng-repeat="alert in goodAlerts" type="success" close="closeGoodAlert($index)">{{alert.msg}}</alert>
<h2>Report New Incident</h2>
<div class="row">
    <h4>Incident Number: {{num}}</h4>
</div>
<div class="row">
    <div class="col-xs-6">
        <md-select class="location" placeholder="Choose a location" ng-model="loc" ng-change="updatePrior()">
            <md-option ng-repeat="location in locations" value="{{location.id}}">{{location.name}}</md-option>
        </md-select>
    </div>  
    <div class="col-xs-6">
        <md-select class="incident" placeholder="Choose an incident" ng-model="inc" ng-change="updateNotify()">
            <md-option ng-repeat="incident in incidents" value="{{incident.id}}">{{incident.type}}</md-option>
        </md-select>
    </div>
</div>
<md-input-container class="comments" flex>
    <label>Description</label>
    <textarea ng-model="comment" columns="1" md-maxlength="100" maxlength="100"></textarea>
</md-input-container>
<div class="row">
    <div class="col-xs-12">
        <md-button class="md-raised md-warn" ng-disabled="loadingIncidentRecord" ng-click="recordIncident($event)">Submit and Notify</md-button>
        <md-progress-circular md-mode="indeterminate" ng-show="loadingIncidentRecord"></md-progress-circular>
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        <h3>Prior Incidents at location:</h3>
        <div class="result" ng-repeat="p in prior">
            <h3><u>{{p.type}}</u></h3>
            <p><b>Incident:</b> {{p.num}} - <b>Date:</b> {{p.time}} -<br /><b>Comment:</b> {{p.comment}}</p>
        </div>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-5">
        <h3>Notify:</h3>
        <div class="result" ng-repeat="n in notify">
            <h3><u>{{n.department}}: {{n.name}}: {{n.title}}</u></h3>
            <p><b>Extention:</b> {{n.ext}} - <b>Home Number:</b> {{n.home_num}} - <b>Cell Number:</b> {{n.cell_num}}</p>
        </div>
    </div>
</div>